.section {
   
}


/* #region container */
/* Styles for Mobile devices */
.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
  }
  /* Styles for Tablet devices */
  @media only screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 32px;
    }
  }
  /* Styles for Desktop devices */
  @media only screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
      padding: 0 100px;
    
    }
}
/* #endregion */ 

/* #region container-works */
/* Styles for Mobile devices */
.works-container {
    
    display: flex;
    flex-direction: column;
    
  }
  /* Styles for Tablet devices */
  @media only screen and (min-width: 768px) {
    .works-container  {
      
    }
  }
  /* Styles for Desktop devices */
  @media only screen and (min-width: 1280px) {
    .works-container {
        flex-direction: row; 
        grid-template-columns: 1fr 1fr;
    }
}
/* #endregion */ 

/* #region works-caption  */

/* Styles for Mobile devices */
.works-caption {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .works-caption {
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .works-caption {
  }
}
/* #endregion */

/* #region works-img  */

/* Styles for Mobile devices */
.works-img {
    padding: 40px 10px;
background: #7a3145;
display: flex; 
    justify-content: center; 
    align-items: center; 

    width: 100%; /* Ширина кожного елемента на мобільних пристроях */
   
    
    text-align: center;


}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .works-img {
       

    }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .works-img {
        padding: 100px;
        width: 45%;
    }
}
/* #endregion */

/* #region works-img-jpg */

/* Styles for Mobile devices */
.works-img-jpg {
    border-radius: 30px;
    width: 335px;
    height: 452px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/section1/pic\ mobileSEC2MOB@1x.jpg ); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2E2F42;
 

}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .works-img-jpg {
width: 640px;
height: 640px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/section1/pic\ desktopSEC2DES@2x.jpg ); 
    }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .works-img-jpg {
    }
}
/* #endregion */

/* #region works-box-box */

/* Styles for Mobile devices */
.works-box-box {
    
    background: #576f35;
    display: flex; /* Вмикаємо flexbox */
    justify-content: center; /* Горизонтальне вирівнювання */
    align-items: center; /* Вертикальне вирівнювання */
   
    width: 100%; /* Ширина кожного елемента на мобільних пристроях */
    padding: 20px;

}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .works-box-box {
      
    }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .works-box-box {
        width: 45%;
    }
}
/* #endregion */

/* #region works-box */

/* Styles for Mobile devices */
.works-box {
    padding: 80px 20px;
    max-width: 335px;
    
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .works-box {
        max-width: 440px;

    }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .works-box {
        
    }
}
/* #endregion */

/* #region works-title  */

/* Styles for Mobile devices */
.works-title {
    font-weight: 600;
font-size: 28px;
line-height: 100%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
margin-bottom: 20px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .works-title {
    }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .works-title {
    }
}
/* #endregion */

/* #region works-span  */

/* Styles for Mobile devices */
.works-span {
    color: #d4bfc4;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .works-span {
    }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .works-span {
    }
}
/* #endregion */

/* #region works-paragraf */

/* Styles for Mobile devices */
.works-paragraf {
    font-weight: 500;
font-size: 14px;
line-height: 143%;
color: #fbfbfb;
margin-bottom: 40px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .works-paragraf {
    }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .works-paragraf {
    }
}
/* #endregion */

/* #region works-list  */

/* Styles for Mobile devices */
.works-list {
    list-style: none;
    padding: 0;
    counter-reset: step-counter;  
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .works-list {
    }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .works-list {
    }
}
/* #endregion */

/* #region works-item  */

/* Styles for Mobile devices */
.works-item {
    border-radius: 15px;
    padding: 12px 27px 12px 24px;
    background: #fbfbfb;
    margin-bottom: 20px;
    position: relative; 
}

.works-item::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 52px;
    height: 52px;
    background-color: #D4BFC4; /* колір */
    border-radius: 50%; /* Робить круг */
    z-index: 0; /* Розташування позаду */
    margin-left: 24px;
}

.works-item::after{
    background-color: #7a3145; /* колір */
    width: 42px;
    height: 42px;
    content: counter(step-counter); /* Вставляємо номер */
    counter-increment: step-counter; /* Збільшуємо лічильник */
    position: absolute;
    left: 5px; /* Центруємо в зеленому крузі */
    top: 50%;
    transform: translateY(-50%);
    color: #fff; /* Колір тексту */
    font-weight: bold;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Робить круг */
    z-index: 1; /* Розташування поверх зеленого круга */
    border-radius: 100%;
    margin-left: 24px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .works-item {
    }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .works-item {
    }
}
/* #endregion */

/* #region works-paragraf-par  */

/* Styles for Mobile devices */
.works-paragraf-par {
    font-weight: 500;
font-size: 14px;
line-height: 143%;
color: #858585;
margin-left: 100px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .works-paragraf-par {
    }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .works-paragraf-par {
    }
}
/* #endregion */

/* #region works-paragraf-par-span  */

/* Styles for Mobile devices */
.works-paragraf-par-span {
font-weight: 700;
color: #141414;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .works-paragraf-par-span {
    }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .works-paragraf-par-span {
    }
}
/* #endregion */











/* #region  */
 /* #endregion */



 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
   margin: 0;
 }
 
 p:last-child {
   margin-bottom: 0;
 }
 
 ul {
   margin: 0;
   padding: 0;
   list-style: none;
 }
 
 a {
   color: currentColor;
   text-decoration: none;
 }
 
 button {
   cursor: pointer;
 }
 
 img {
   display: block;
   max-width: 100%;
   height: auto;
 }
 
 main{
     background: #576f35;
 }
 
 
 
 
 /* #region section1 */
 .section {
 }
 
 .conteiner-hero {
     padding: 40px 20px;
 }
 
 .hero-title {
 font-family: var(--font-family);
 font-weight: 600;
 font-size: 52px;
 line-height: 100%;
 letter-spacing: -0.01em;
 text-transform: uppercase;
 color: #fbfbfb;
 text-align: left;
 margin-bottom: 20px;
 }
 
 .hero-paragraf {
 font-family: var(--font-family);
 font-weight: 500;
 font-size: 14px;
 line-height: 143%;
 color: #fbfbfb;
 text-align: left;
 margin-bottom: 40px;
 }
 /* #endregion */
 
 




/* #region section3 */

.conteiner {
}
.advertisement-box {
    background: #fbfbfb;
}

.advertisement-title:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
    white-space: nowrap;}

.advertisement-paragraf {
font-family: var(--font-family);
font-weight: 600;
font-size: 48px;
line-height: 108%;
letter-spacing: -0.01em;
text-transform: uppercase;
padding: 80px 20px;
color: #141414;
}
.advertisement-span {
    display: block;
    border-radius: 12px;
    width: 335px;
    height: 102px;
    background: #576f35;
    color: #fbfbfb;
}

 /* #endregion */


 
/* #region section4 */
.conteiner {
}
.conteiner-vegetables {
    background: #7a3145;
    padding: 80px 20px;
}
.vegetables-title {
    font-family: var(--font-family);
font-weight: 600;
font-size: 48px;
line-height: 108%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
margin-bottom: 20px;
}
.vegetables-text {
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 143%;
color: #fbfbfb;
margin-bottom: 40px;
}
.vegetables-list {

}
.vegetables-item {
    background: #fbfbfb;
    border-radius: 40px;
padding: 32px 24px;
margin-bottom: 20px;


}
.vegetables-subtitle {
    font-family: var(--font-family);
font-weight: 600;
font-size: 28px;
line-height: 100%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #7a3145;
padding-bottom: 12px;
}
.vegetables-paragraf {
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 143%;
color: #141414;
}

/* #endregion */


/* #region section5  */

.conteiner-reviews {
    background: #fbfbfb;
    padding: 80px 20px;

}
.reviews-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 108%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
margin-bottom: 20px;
}

.reviews-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #141414;
margin-bottom: 40px;
}
.reviews-list {
}
.reviews-item {
border: 1px solid #d4bfc4;
border-radius: 24px;
padding: 20px;
background: #fbfbfb;
}
.reviews-subtitle {
    font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 111%;
letter-spacing: -0.01em;
text-transform: uppercase;
text-align: center;
color: #141414;
}
.reviews-paragraf {
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 143%;
text-align: center;
color: #858585;
}

 /* #endregion */



/* #region section6 */

.conteiner-order {
    padding: 80px 20px;
}
.order-title {
    font-family: var(--font-family);
font-weight: 600;
font-size: 48px;
line-height: 108%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
margin-bottom: 20px;
}
.order-text {
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 143%;
color: #fbfbfb;
margin-bottom: 40px;
}
.order-box {
    border-radius: 30px;
padding: 40px 20px;
background: #fbfbfb;
margin-bottom: 20px;
}
.order-paragraf {
    font-family: var(--font-family);
font-weight: 600;
font-size: 28px;
line-height: 100%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #141414;
}
.button {
border-radius: 30px;
padding: 16px 129px;
width: 295px;
height: 52px;
background: #7a3145;

font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 111%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
}

.order-box-box {
    border-radius: 30px;
padding: 40px 20px;
background: #7a3145;
}
.order-img{
    border-radius: 15px;
    width: 295px;
    height: 272px;
    background: rgba(20, 20, 20, 0.2), url("path_to_image");
    margin-bottom: 20px;
}
.order-box-box-text {
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 143%;
color: #d4bfc4;
margin-bottom: 16px;
}
.order-box-box-paragraf {
    font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 111%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
}
/* #endregion */

 
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Додає тінь */
border-radius: 100%;
stroke-width: 5px;
stroke: #d4bfc4;
font-weight: 600;
font-size: 18px;
line-height: 111%;
letter-spacing: -0.01em;
text-transform: uppercase;


color: #fbfbfb; /* Колір тексту */
background-color: #7a3145; /* Колір круга */
display: flex;
align-items: center;
justify-content: center;
width: 30px;
height: 30px;
left: 0;
top: 50%; /* Центруємо вертикально */
transform: translateY(-50%); /* Корекція центрування */
content: counter(step-counter); /* Вставляємо номер */
counter-increment: step-counter; /* Збільшуємо лічильник */
position: absolute;




.works-item {
    border-radius: 15px;
    padding: 12px 27px 12px 24px;
    background: #fbfbfb;
    margin-bottom: 20px;
    
    position: relative; /* Для позиціонування псевдоелемента */
    padding-left: 30px; /* Відступ для номера */
}

.works-item::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #4caf50; /* Зелений колір */
    border-radius: 50%; /* Робить круг */
    z-index: 0; /* Розташування позаду */


  
 


}

.works-item::before{

    content: counter(step-counter); /* Вставляємо номер */
    counter-increment: step-counter; /* Збільшуємо лічильник */
    position: absolute;
    left: 5px; /* Центруємо в зеленому крузі */
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #ff5722; /* Червоний колір */
    color: #fff; /* Колір тексту */
    font-weight: bold;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Робить круг */
    z-index: 1; /* Розташування поверх зеленого круга */

  


}